:root {
  --green: #00563f;
}
* {
  font-family: "bodoni-urw", serif;
  font-size: 1rem;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  color: var(--green);
}

h2 {
  margin-top: 4rem;
  font-size: 1.25rem;
}

:is(
  section#event-1 h2:first-child,
  section#event-2 h2:first-child,
  section#event-3 h2:first-child,
  section#event-4 h2:first-child
) {
  margin-top: 0;
}

p {
  font-size: 1.25rem;
}

.large-text {
  font-size: 1.5rem;
}

.green {
  color: var(--green);
}

.grey {
  color: #787878;
}

.small-text {
  font-size: 1rem;
}

nav {
  max-width: 1000px;
  margin: auto;
  padding: 2rem 2rem 0 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--green);
}

div.container {
  max-width: 1000px;
  margin: auto;
  padding: 4rem 2rem;
}

section,
footer {
  margin: 0;
  padding: 0;
}

section#leaderboard {
  background-color: var(--green);
  color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 1.25rem;
}

li {
  margin: 0;
  padding: 0.125rem 0;
}

ul.golf li.where::before {
  content: "📍 ";
  margin-right: 0.5em;
}

ul.golf li.when::before {
  content: "📆 ";
  margin-right: 0.5em;
}

ul.golf li.golf::before {
  content: "⛳️ ";
  margin-right: 0.5em;
}

ul.golf li.score::before {
  content: "🧮 ";
  margin-right: 0.5em;
}

ul.golf li.money::before {
  content: "💲 ";
  margin-right: 0.5em;
}

ul.golf li.prize::before {
  content: "💰";
  margin-right: 0.5em;
}

select {
  color: var(--green);
  border: none;
  border-bottom: 1px solid var(--green);
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  margin-top: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  border: none;
  margin: 4rem 0 -4rem 0;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

th,
td {
  border: 1px solid #1e1e1e;
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
}

thead th {
  background-color: var(--green);
  color: white;
}

td,
th,
td span {
  color: var(--green);
  font-size: 12px;
}

:is(tr#hc th, tr#par th, tr#hc td, tr#par td) {
  color: #787878;
}

:is(td.eagle, td.double-bogey) {
  font-weight: normal;
}

td.bold {
  font-weight: bold;
}

.player td {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

td.birdie::before,
td.eagle::before,
td.bogey::before,
td.double-bogey::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1.5px solid transparent;
  z-index: -1;
}

td.birdie::before {
  border-color: var(--green);
}

td.eagle::before {
  background-color: var(--green);
}

td.bogey::before {
  border-radius: 0;
  border-color: var(--green);
}

td.double-bogey span,
td.eagle span {
  color: white;
}

td.double-bogey::before {
  border-radius: 0;
  background-color: var(--green);
}

tr.player:hover {
  background-color: #1e1e1e10;
}

td.one-stroke {
  position: relative;
}

td.one-stroke::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
}

td.two-strokes {
  position: relative;
}

td.two-strokes::before,
td.two-strokes::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

td.two-strokes::before {
  top: 4px;
  right: 9px; /* Adjusted to position the first dot */
}

td.two-strokes::after {
  top: 4px;
  right: 4px; /* Adjusted to position the second dot */
}

/* Leaderboard Table */
table#leaderboard-table caption {
  display: none;
}

table#leaderboard-table td,
table#leaderboard-table th {
  text-align: left;
  vertical-align: middle;
  background-color: transparent;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
}

table#leaderboard-table tr th,
table#leaderboard-table tr td {
  border: none;
  border-bottom: 1px solid white;
}
