:root {
  --green: #13b05d;
  --blue: #2976e5;
  --yellow: #ffcf00;
  --charcoal: #1e1e1e;
  --grey: #787878;
  --white: #ffffff;
}

@font-face {
  font-family: "Favorit";
  src: url(abc-favorit/ABCFavorit-Regular-Trial.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Favorit";
  src: url(abc-favorit/ABCFavorit-Bold-Trial.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Favorit";
  src: url(abc-favorit/ABCFavorit-RegularItalic-Trial.otf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Favorit";
  src: url(abc-favorit/ABCFavorit-Light-Trial.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Favorit";
  src: url(abc-favorit/ABCFavorit-LightItalic-Trial.otf);
  font-style: italic;
  font-weight: 100;
}

* {
  font-family: "Favorit", "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

iframe {
  margin: 4rem 0;
}

:is(h1, h2) {
  margin-top: 4rem;
  font-size: 1.25rem;
}

:is(
  section#event-1 h2:first-child,
  section#event-2 h2:first-child,
  section#event-3 h2:first-child,
  section#event-4 h2:first-child
) {
  margin-top: 0;
}

p {
  font-size: 1.25rem;
}

p > strong {
  font-size: 1.25rem;
}

:is(p, h1, h2, h3 h4, h5 h6) {
  margin: 2.5rem 0;
}

.large-text {
  font-size: 1.25rem;
}

.large-text > strong {
  font-size: 1.25rem;
}

.small-text {
  font-size: 1rem;
  margin-top: 0;
}

.small-text > strong {
  font-size: 1rem;
}

.event-title {
  margin: 0;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 100;
}

strong {
  font-weight: bold;
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.grey {
  color: #787878;
}

.white {
  color: var(--white);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-yellow {
  background-color: var(--yellow);
}

nav {
  max-width: 1000px;
  margin: auto;
  padding: 2rem 2rem 0 2rem;
  font-weight: 100;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav div.nav-spacer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: auto;
  margin: 0;
  padding: 0;
}

nav select {
  width: 100%;
  margin: 0 0.5rem 0 0;
  padding: 0.125rem 0;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: none;
}

nav ul li {
  margin: 0.25rem 0.5rem 0.25rem 0;
}

nav ul li a {
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  font-size: 1rem;
}

:is(a, a:visited, a[id], a[id]:visited) {
  color: black;
  padding: 0;
  margin: 0;
}

nav ul li a#home-link.active {
  background-color: black;
  color: var(--white);
  font-weight: bold;
  padding: 0px 4px;
}

:is(nav ul li a#leaderboard-link.active, nav ul li a#results-link.active) {
  font-weight: bold;
}

nav ul li a#caugh-link.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  nav ul {
    justify-content: space-between;
    align-items: center;
  }

  nav div.nav-spacer {
    flex-direction: row;
    align-items: center;
  }

  nav select {
    width: auto;
  }

  nav ul li {
    margin: 0.5rem;
  }

  nav ul li:first-child {
    margin: 0.5rem 0;
  }

  :is(
    nav ul li a#leaderboard-link.active,
    nav ul li a#results-link.active,
    nav ul li a#caugh-link.active
  ) {
    padding: 0 4px;
    font-weight: bold;
  }

  a.active.active-green {
    background-color: var(--white);
  }

  a.active.active-blue {
    background-color: var(--white);
  }

  a.active.active-yellow {
    background-color: var(--white);
  }
}

div.container {
  max-width: 1000px;
  margin: auto;
  padding: 4rem 2rem;
}

section,
footer {
  margin: 0;
  padding: 0;
}

section#leaderboard {
  background-color: var(--yellow);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 1.25rem;
}

li {
  margin: 0.5rem 0;
  padding: 0;
}

:is(ul li.purse, ul li.cttp, ul li.bomb, ul li.trophy) {
  position: relative;
  padding-left: 2rem; /* Adjust this value to create space for the emoji */
}

:is(ul li.purse, ul li.cttp, ul li.bomb, ul li.trophy)::before {
  position: absolute;
  left: 0;
  top: 0;
}

ul li.purse::before {
  content: "💰";
}

ul li.cttp::before {
  content: "🎯";
}

ul li.bomb::before {
  content: "💣";
}

ul li.trophy::before {
  content: "💸";
}

ul.attempt li {
  margin: 2rem 0;
}

select {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 0 0.5rem 0;
  font-size: 1.25rem;
  margin-top: 0;
  background-color: transparent;
  border-radius: 0;
  font-weight: 100;
}

select#sectionSelector {
  margin-top: 6rem;
  font-size: 1rem;
}

:is(section#event-1, section#event-2, section#event-3, section#event-4)
  .container {
  padding-top: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  border: none;
  margin: 4rem 0 -4rem 0;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  margin: 2.5rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

th,
td {
  border: 0.25px solid black;
  padding: 0.75rem;
  text-align: center;
  vertical-align: middle;
}

thead th {
  background-color: transparent;
  color: black;
}

td,
th,
td span {
  font-size: 10px;
}

:is(tr#hc th, tr#par th, tr#hc td, tr#par td) {
  color: var(--white);
}

:is(td.eagle, td.double-bogey) {
  font-weight: normal;
}

td.bold {
  font-weight: bold;
}

.player td {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

td.birdie::before,
td.eagle::before,
td.bogey::before,
td.double-bogey::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0.75px solid transparent;
  z-index: -1;
}

td.birdie::before {
  border-color: var(--white);
}

td.eagle::before {
  background-color: var(--white);
}

td.bogey::before {
  border-radius: 0;
  border-color: var(--white);
}

td.double-bogey::before {
  border-radius: 0;
  background-color: var(--white);
}

tr.player:hover {
  background-color: #1e1e1e10;
}

td span.one-stroke {
  position: relative;
}

td span.one-stroke::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

td span.two-strokes {
  position: relative;
}

td span.two-strokes::before,
td span.two-strokes::after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

td span.two-strokes::before {
  top: -10px;
  right: -10px;
}

td span.two-strokes::after {
  top: -10px;
  right: -6px;
}

table.sortable.no-points th:first-child {
  background-color: var(--blue);
  position: sticky;
  left: 0;
  z-index: 1;
}

table.sortable th:first-child {
  background-color: var(--green);
  position: sticky;
  left: 0;
  z-index: 1;
}

/* Leaderboard Table */
table#leaderboard-table caption {
  display: none;
}

table#leaderboard-table td,
table#leaderboard-table th {
  text-align: left;
  vertical-align: middle;
  background-color: transparent;
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: capitalize;
  color: black;
}

table#leaderboard-table tr th,
table#leaderboard-table tr td {
  border: none;
  border-bottom: 1px solid black;
}

:is(
  table#leaderboard-table thead th.total,
  table#leaderboard-table tbody tr td.total
) {
  font-weight: bold;
}

:is(th.total, th.net, th.points) {
  cursor: ns-resize;
}
